body {
  padding-top: 70px;
}

.logo {
  height: 100%;
}

.extra-details {
  padding-top: 10px;
}

.pipe {
  padding: 0 0.5em;
}

.dau-up-brand {
  padding: 5px 15px;
}

.remove-btn {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 30px;
}